<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Home", root_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Time Entries", posts_path, class: "nav-link" %>
  </li>
  <li class="dropdown ml-auto">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account <strong class="caret"></strong></a>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Action</a>
      </li>
    </ul>
  </li>
</ul>
