<div class="jumbotron">
  <h2>Hello world!</h2>
  <p>This is overtime app to track if employee worked overtime or not.</p>
  <p>
    <a href="#" class="btn btn-primary btn-large">Learn more</a>
  </p>
</div>